extends ../../layout/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main
    if(role.permissions.includes("products-create")) 
    
        +alert-error(3000)
        +alert(3000)
        h1(class = "mb-4") #{pageTitle}

        form(
            action= `${prefixAdmin}/products/create`
            id="form-create-products"
            method="POST"
            enctype = 'multipart/form-data'
        )
            div(class = "form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class = "form-group")

                select(
                    name="products_category_id"
                    id="products_category_id"
                    class="form-control"
                )
                    option(value="") --Chọn danh mục cha--
                    if(category)
                        +select-tree(category)     

            div(class = "form-group")
                label(for="desc") Mô tả
                textarea(
                    class="form-control textarea-mce"
                    
                    id="desc"
                    name="description"
                    row="S"
                )
            div(class = "form-group")
                label(for="desc") Nội dung
                textarea(
                    class="form-control textarea-mce"
                    
                    id="desc"
                    name="content"
                    row="S"
                )
                

            div(class = "form-group")
                label(for="price") Giá
                input(
                    type="number"
                    name = "price"
                    class="form-control"
                    id="price"
                    value="0"
                    min="0"
                )

            div(class = "form-group")
                label(for="discount") Giảm giá
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value="0"
                    min="0"
                )

            div(class = "form-group")
                label(for="stock") Số lượng
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="0"
                    min="0"
                )

            div(
                class = "form-group"
                upload-image
                )
                label(for="thumbnail") Ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                br
                img(
                    src=""
                    class="image-preview"
                    upload-image-preview
                )
                br
                a(
                    class="btn"
                    delete-image-preview
                ) x  
                            

            div(class = "form-group")
                label(for="position") Vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder = "Tự động tăng"
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="active"
                ) 
                label(for="statusInActive" class = "form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                ) 
                label(for="statusInActive" class = "form-check-label") Dừng hoạt động
            

            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                )   Tạo mới

    script(src="/admin/js/products.js") 