mixin table-tree(items,level=1)
   each item,index in items
        - const prefix = Array(level+1).join("-- ")

        tr
            td 
                input(
                    type = "checkbox"
                    name = "id"
                    value = item.id
                ) 
            td #{item.count}
            td
                img(
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="auto"
                )
            td #{prefix}#{item.title}
            
            td 
                input(
                    type = "number"
                    value = item.position 
                    style = "width: 60px"
                    min="1"
                    name="position"
                )
            td
                if(role.permissions.includes("products-category-edit")) 
                    if(item.status=="active")
                    
                        a.btn.btn-success(
                            data-id = item.id
                            data-status = item.status
                            button-change-status 
                            href="javascript:;"
                        ) Hoạt động
                    else 
                        a.btn.btn-danger(
                            data-id = item.id
                            data-status = item.status
                            button-change-status 
                            href="javascript:;"
                        
                        
                        ) Dừng hoạt động
                
                
            td

                a(
                    class="btn btn-secondary btn-sm"
                    href=`${prefixAdmin}/products-category/detail/${item.id}`
                ) Chi tiết
                if(role.permissions.includes("products-category-edit")) 
                    a(
                        class="btn btn-warning btn-sm"
                        href=`${prefixAdmin}/products-category/edit/${item.id}`
                    ) Sửa
                if(role.permissions.includes("products-category-delete")) 
                    button(
                        class="btn btn-danger btn-sm ml-1"
                        data-id = item.id 
                        button-delete
                        ) Xóa 
        tr
        if item.children && item.children.length > 0
            +table-tree(item.children,level+1)  
