include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center 
            .col-2 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo5.png",alt="logo")
            .col-4 
                form(
                    action ="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0" )
                        input(
                            type="text"
                            placeholder="Nhập từ khóa"
                            class="form-coltrol "
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm           
            .col-6 
                .inner-menu 
                    ul      
                        li 
                            a(href="/" style="text-decoration: none;") Trang chủ 
                        li(class="sub-menu")
                            -const pathProduct = "/products"
                            a(href="/products" style="text-decoration: none;") Sản phẩm
                            +sub-menu(layoutProductsCategory,pathProduct)
                        li 
                            a(href="/cart") Giỏ hàng (#{cart?cart.totalQuantity:"0"} )
                        if(user)
                            li 
                                a(href="/user/logout" style="text-decoration: none;") Đăng xuất
                        else 
                            li 
                                a(href="/user/register" style="text-decoration: none;") Đăng ký 
                            li 
                                a(href="/user/login" style="text-decoration: none;") Đăng nhập        

