extends ../../layout/default.pug 
include ../../mixins/alert.pug

block main
    
    +alert-error(3000)
    +alert(3000)
    h1(class = "mb-4") #{pageTitle}

    form(
        action= `${prefixAdmin}/my-account/edit?_method=PATCH`
        
        method="POST"
        enctype = 'multipart/form-data'
    )
        div(class = "form-group")
            label(for="fullName") Họ Tên *
            input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                required
                value = user.fullName
            )
            


        div(class = "form-group")
            label(for="email") Email *
            input(
                type="text"
                class="form-control"
                id="email"
                name="email"
                required
                value = user.email
            )
        div(class = "form-group")
            label(for="phone") Số điện thoại *
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value = user.phone    
            ) 
        div(
            class="form-group"
            upload-image
        )
            label(for="avatar") Avatar * 
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accpet = "image/*"
                upload-image-input
            )
            img(
                src=user.avatar
                class="iamge-preview"
                upload-image-input
            )           
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            )   Cập nhật

    